<a href="https://colab.research.google.com/github/RaghuVDs/Python/blob/main/02_conditional_execution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# if condition

if somthing is true :

                print(somthing)
                print(n) - all these will be printed

else :

                print(somthing) [optional]
                print(n)

# nested if

#### nesting can be done inside an else block also.
if somthing is true :

                if somthing is true :

                          print(somthing)
                          print(n) - all these will be printed
               else :

                          print(somthing) [optional]
                          print(n)

else :

                print(somthing) [optional]
                print(n)

In [ ]:
# if condition

a = 20
b = 5

if a < b:
  print('a is less')
else :
  print('b is less')

print("check for c") # part of regular code and not inside an indentation

b is less
check for c

In [ ]:
account_enabled = False
balance = 1000
withdraw = 10000

if account_enabled and withdraw <= balance  :
  print('can be withdrawn')
  balance = balance - withdraw
  print(balance)
else:
  if not account_enabled:
    print("account disables")
    print('cannot be withdrawn')
  else:
    print('Insufficinet funds')

account disables
cannot be withdrawn

In [ ]:
# nested if

my_grade = 80

if my_grade >= 90:
  print('A')
else:
  if my_grade >= 80:
    print('B')
  else:
    if my_grade >=70:
      print('C')
    else:
      if my_grade >= 60:
        print('D')
      else:
        print('F')

B

In [ ]:
grade = 70

if grade >= 90:
  print('A')

if grade >=80 and grade < 90:
  letter_grade = 'B'

if grade >=70 and grade < 80:
  letter_grade = 'c'

if grade >=60 and grade < 70:
  letter_grade = 'd'

if grade >=50 and grade < 60:
  letter_grade = 'e'

if grade < 50:
  letter_grade = 'f'

print(letter_grade)

c

In [ ]:
# elif

# if one condition is True - then the code is exited.
grade = 22

if grade >= 90:
  grade_letter = "A"
elif grade >= 80:
  grade_letter = "B"
elif grade >= 70:
  grade_letter = "C"
elif grade >= 60:
  grade_letter = "D"

else:
  grade_letter = "F"

print(grade_letter)

F

In [ ]:
account_enabled = True
balance = 1000
withdraw = 50

if not account_enabled:
  print("account disabled")
elif withdraw <= balance:
    print('Can be withdrawn')
    balance = balance - withdraw
    print(f'balance = {balance }')
else:
    print("insufficient Funds")
    balance = balance - withdraw
    print(f"{balance} cannot be withdrawn")

Can be withdrawn
balance = 950

# Ternary conditional operator - 3 operands

### unary = -x
### binary = x + y

## ternary = exp1 if <condition 1> else exp2
## the ternary operator also uses short circuit evaluation.

In [ ]:
# ternary conditional operator

ask_price = 1

if ask_price > 50:
  volume = 80
else:
  volume = 10

print(volume)

10

In [ ]:
volume = 80 if ask_price > 50 else 10

print(volume)

10

In [ ]:
current_value = [100,200,300,-999]
running_total = 0
running_count = 125

for i in current_value:
    clean_value = 0 if i == -999 else i

    running_total = running_total + clean_value
print(running_total)

600