<a href="https://colab.research.google.com/github/RaghuVDs/Python/blob/main/05_Iterations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iterations - repetition

running code multiple times

## 1. knowing how many numbers to run - **for loop**
deterministic approch
## 2. Not knowing how many tiems to run the code - **while loop**
non deterministic approch

# **Range**

range is an iterable object

it has finite number of integers

range() to create objects

In [ ]:
# range(start : end : step)

In [ ]:
# it is an iterable of integer

r = range(0,5)
print(r,type(r))

range(0, 5) <class 'range'>

In [ ]:
list(r)

[0, 1, 2, 3, 4]

In [ ]:
tuple(r)

(0, 1, 2, 3, 4)

In [ ]:
range01 = range(0,10,2)
print(list(range01),len(list(range01)))

[0, 2, 4, 6, 8] 5

# **for loop**

used to itereate when we know the the number of elements

it grabs the element from the iterables  

i = 0

for i in [1,2,3]:

  x = i + i

print(x)

print('done')

In [ ]:
for i in [1,2,3]:

  x = i + i
  print(x)

print('done')

2
4
6
done

In [ ]:
for i in range(0,5,2):
  sq = i*i
  print(sq)

0
4
16

In [ ]:
for i in range(0,5):
  for j in range(1,i+1):
    print(j,'*')
  print(i,"@")
  print("_"* 4)
print('done')

0 @
____
1 *
1 @
____
1 *
2 *
2 @
____
1 *
2 *
3 *
3 @
____
1 *
2 *
3 *
4 *
4 @
____
done

In [ ]:
data = [1,2,3,-4,5,-10,-15]

for i in data:
  if i < 0:
    i = 0
  print(i)

1
2
3
0
5
0
0

# enumerate function

takes iterable

returns a new variable whose elements are a tuple

In [ ]:
for i in enumerate(data):
  index,element = i
  if element < 0:
    data[index] = 0
print(data)

[1, 2, 3, 0, 5, 0, 0]

In [ ]:
for index,element in enumerate(data):
  if element < 0:
    data[index] = 0
  print(index,element)
print(data)

0 1
1 2
2 3
3 0
4 5
5 0
6 0
[1, 2, 3, 0, 5, 0, 0]
6

In [ ]:
suits = ['diamonds','clubs','hearts','spades']

for s in suits:
  print(f'{s[0].upper()} = {s}')

D = diamonds
C = clubs
H = hearts
S = spades

In [ ]:
for i in 'python':
  print(i)

p
y
t
h
o
n

In [ ]:
i

'n'

In [ ]:
s

'spades'

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
for i in range(3):
  for j in range(3):
    print(i,j)
  print("_ _" * 3)

0 0
0 1
0 2
_ __ __ _
1 0
1 1
1 2
_ __ __ _
2 0
2 1
2 2
_ __ __ _

In [ ]:
matrix = [[1,1,1],[2,2,2],[3,3,3]]

for row in range(len(matrix)):
  for col in range(len(matrix[row])):
    print(f'{[row,col]} = {matrix[row][col]}')

[0, 0] = 1
[0, 1] = 1
[0, 2] = 1
[1, 0] = 2
[1, 1] = 2
[1, 2] = 2
[2, 0] = 3
[2, 1] = 3
[2, 2] = 3

In [ ]:
len(matrix)

3

In [ ]:
len(matrix[0])

3

In [ ]:
# creating an identity matrix using for loop

n = int(input("Enter the size of the matrix : "))

matrix = []

for i in range(n):
  rows = []
  for j in range(n):
    if i == j:
      rows.append(1)
    else:
      rows.append(0)
  matrix.append(rows)

print(matrix)

Enter the size of the matrix : 3
[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [ ]:
data = [10,20,30]

for index,element in enumerate(data): # unpacking
  print(index,element) # (index,i)

0 10
1 20
2 30

In [ ]:
m = [
    [0,1],
    [2,3,4,5],
    [7,8,9],
    [10]
    ]

In [ ]:
for rows in m:
  for col in rows:
    print(col)

0
1
2
3
4
5
7
8
9
10

In [ ]:
for r_index,row in enumerate(m):
  for c_index,col in enumerate(row):
    print(f'[{r_index},{c_index}] = {col}')
  print("- -" * 2)

[0,0] = 0
[0,1] = 1
- -- -
[1,0] = 2
[1,1] = 3
[1,2] = 4
[1,3] = 5
- -- -
[2,0] = 7
[2,1] = 8
[2,2] = 9
- -- -
[3,0] = 10
- -- -

In [ ]:
data_missing = [1,2,3,None,4,5,6,None,8,9,10]

In [ ]:
total = 0
count = 0

for index,element in enumerate(data_missing):
  print(index,element)

  if element is not None:
    total += element
    count += 1


print("_ _" * 10)
avg = total/count
print(avg,count)
print(data_missing)

0 1
1 2
2 3
3 None
4 4
5 5
6 6
7 None
8 8
9 9
10 10
_ __ __ __ __ __ __ __ __ __ _
5.333333333333333 9
[1, 2, 3, None, 4, 5, 6, None, 8, 9, 10]

In [ ]:
for index,element in enumerate(data_missing):
  if element is None:
    data_missing[index] = avg
print(f'{data_missing}')

[1, 2, 3, 5.333333333333333, 4, 5, 6, 5.333333333333333, 8, 9, 10]

# **while Loop**

Repeates the code till a certain condition is reached or becomes true

while (expression):

    code block

In [ ]:
value = 10

while value < 15:
  print(value)
  value += 1

10
11
12
13
14

In [ ]:
price = 100

while price > 90:
  print(f"price = {price} - waiting for discount")
  price -= 2
  print(f"price = {price}")
print(f'Reached price = {price} - buy now')

price = 100 - waiting for discount
price = 98
price = 98 - waiting for discount
price = 96
price = 96 - waiting for discount
price = 94
price = 94 - waiting for discount
price = 92
price = 92 - waiting for discount
price = 90
Reached price = 90 - buy now

In [ ]:
data = [100,200,300,400,500]

In [ ]:
while len(data) > 0:
  last_ele = data.pop()
  print(f"processing element {last_ele}")
  print(f"data = {data}")
  # retrives the data and removes

processing element 500
data = [100, 200, 300, 400]
processing element 400
data = [100, 200, 300]
processing element 300
data = [100, 200]
processing element 200
data = [100]
processing element 100
data = []

In [ ]:
# if we have to add or remove elements from a sequence  we have to use WHILE LOOP - do not use the FOR LOOP

# **continue , Break, Else**

# **continue**
1. used to skip an iteration without termination the loop - not widely used

# **Break**
1. early termination - stops and terminate the loop

# **Else clause - in a for loop**
1. used in a for loop when break is not encountered

In [ ]:
# break

for i in range(100):
  if i == 20:
    print("breaking the loop")
    break
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
breaking the loop

In [ ]:
# continue

for i in range(0,10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
# Continue & break using 2 loops - if we use Continue & break inside an inner loop it Continues & breaks out of only the inner loop and not the complete loop

for i in range(10):
  for j in range(10):
    if i == j:
      print("*")
      continue
    print(i,j)
  print("______")

*
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
______
1 0
*
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
______
2 0
2 1
*
2 3
2 4
2 5
2 6
2 7
2 8
2 9
______
3 0
3 1
3 2
*
3 4
3 5
3 6
3 7
3 8
3 9
______
4 0
4 1
4 2
4 3
*
4 5
4 6
4 7
4 8
4 9
______
5 0
5 1
5 2
5 3
5 4
*
5 6
5 7
5 8
5 9
______
6 0
6 1
6 2
6 3
6 4
6 5
*
6 7
6 8
6 9
______
7 0
7 1
7 2
7 3
7 4
7 5
7 6
*
7 8
7 9
______
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
*
8 9
______
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
*
______

In [ ]:
for i in range(10):
  print(i)
  if i == 5:
    break
else:
  print("no Break")

0
1
2
3
4
5

In [ ]:
data = [1,2,3,4,5,6,]

In [ ]:
for i in data:
  if i < 0:
    print(i)
    break
else:
  print("no negative")

no negative